@{
    ViewBag.Title = "Home";
}

<!-- Start Banner Area -->
<section class="home-banner-area relative">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-8 col-md-12">
                <h1 class="wow fadeIn" data-wow-duration="4s">Be a better programmer <br> -learn Codebase Exploration- </h1>
                <p class="text-white">
                    Around 70% of the time programmers spent during product development is about reading and understanding code.
                    From facts, we recall this as being in top priorities! So, shouldn't we already have a technique for learning this skill?
                </p>
                <div class="input-wrap">
                    <form action="/Codebases/Index" class="form-box d-flex justify-content-between">
                        <input type="text" placeholder="Search Codebases" class="form-control" name="search">
                        <button type="submit" class="btn search-btn">Search</button>
                    </form>
                </div>
                <h4 class="text-white">Top codebases</h4>
                <div class="courses pt-20">
                    <a href="#" data-wow-duration="1s" data-wow-delay=".3s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">
                        C++
                    </a>
                    <a href="#" data-wow-duration="1s" data-wow-delay=".6s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Python</a>
                    <a href="#" data-wow-duration="1s" data-wow-delay=".9s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Java</a>
                    <a href="#" data-wow-duration="1s" data-wow-delay="1.2s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">
                        UI/UX
                        Design
                    </a>
                    <a href="#" data-wow-duration="1s" data-wow-delay="1.5s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Android</a>
                    <a href="#" data-wow-duration="1s" data-wow-delay="1.8s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">
                        Data
                        Science
                    </a>
                    <a href="#" data-wow-duration="1s" data-wow-delay="2.1s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">JavaScript</a>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket-img">
        <img src="~/Content/Images/rocket.png" alt="">
    </div>
</section>
<!-- End Banner Area -->
<!-- Start About Area -->
<section class="about-area section-gap">
    <div class="container shrink">
        <div class="row align-items-center justify-content-center">

            <div class="col-lg-5 col-md-6  about-left">
                <h2 class="mb-20 text-center">
                    What codebase exploration <br> means?
                </h2>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <p class="text-justify">
                        Understanding, browsing and reading prebuilt codebases all means picking up valuable information on code underlying thinking.
                        Implementations, technologies, structures, solutions work as example models for learners' future skills development.
                        Practical tasks go beyond language syntax or programming theory. Codebase exploration follows understanding development, debugging and testing principles,
                        code integration and appreciation of code characteristics.
                    </p>
                </div>
                <a href="@Url.Action("Register", "Account")" class="primary-btn">About</a>
            </div>
            <div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
                <img class="img-fluid" src="~/Content/Images/codebase-exploration.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start About Area -->
<section class="courses-area section-gap">
    <div class="container shrink">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-6 about-left">
                <img class="img-fluid" src="~/Content/Images/innovation.png" alt="">
            </div>
            <div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
                <h1 class="text-center">
                    Why we need it?
                </h1>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <p class="text-justify">
                        Nowadays, the developers' work followed an uprising trend in using extended prebuilt code corpus rather than creating applications from scratch.
                        This is due to the fact that the community of programmers is various and big enough to support TECH development.
                        Moreover, most of the programmers are focusing on code maintenance or adding new features.
                        This is the result of the fact that the application is built only once, but is aiming to run for years.
                        Starting from this idea, we can consider a new teaching approach that not only will improve learners skills but improve their working experience.
                    </p>
                </div>
                <a href="@Url.Action("Register", "Account")" class="primary-btn float-right">Register</a>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start About Area -->
<section class="about-area section-gap">
    <div class="container shrink">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-6 about-left  ">
                <h1 class="text-center mb-20">
                    Various support <br> techniques
                </h1>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <p class="text-justify">
                        This platform wants to offer the best experience in learning you how to pick up pre-built codebases, fast and thoroughly.
                        Engaging roleplay technique, multiple learning resources, forum help and time management will create a simulation of a real environment.
                        Always keep in mind the motivation of your work.
                        This approach will improve what most of the developers do, understanding others' code and mix it with their own.
                        You will improve your programming skills starting from a more realistic approach.
                    </p>
                </div>
                <a href="@Url.Action("Register", "Account")" class="primary-btn">Register</a>
            </div>
            <div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
                <img class="img-fluid" src="~/Content/Images/about.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start Courses Area -->
<section class="courses-area section-gap">
    <div class="container shrink">
        <div class="row align-items-center">
            <div class="col-lg-5 about-right">
                <h1 class="text-center">
                    A full ecosystem of projects <br>
                </h1>

                <div class="wow fadeIn text-justify" data-wow-duration="1s">
                    <p>
                        Different projects, different perspectives. The learning procedure is always based on the codebase requirements and priorities.
                        Remember, differences are meant to extend your knowledges not cleese your learning.
                        The learning skills that you will aquire will extend with every project that you take.
                    </p>
                </div>
                <a href="@Url.Action("Index","Codebases")" class="primary-btn white">Explore Codebases</a>
            </div>
            <div class="offset-lg-1 col-lg-6">
                <div class="courses-right">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul class="courses-list">
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".1s">
                                        <i class="fa fa-book"></i> Test
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".3s">
                                        <i class="fa fa-book"></i> Design
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".5s">
                                        <i class="fa fa-book"></i> Debug
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".7s">
                                        <i class="fa fa-book"></i> Source Files
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".9s">
                                        <i class="fa fa-book"></i> Teaching Support
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay="1.1s">
                                        <i class="fa fa-book"></i> Scheduled Deliverables
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay="1.3s">
                                        <i class="fa fa-book"></i> Timed Projects
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul class="courses-list">
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay="1.3s">
                                        <i class="fa fa-book"></i> Data Science
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay="1.1s">
                                        <i class="fa fa-book"></i> OOP
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay=".9s">
                                        <i class="fa fa-book"></i> Training
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay=".7s">
                                        <i class="fa fa-book"></i> Web
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay=".5s">
                                        <i class="fa fa-book"></i> Android/IOS
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay=".3s">
                                        <i class="fa fa-book"></i> Desktop
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay=".1s">
                                        <i class="fa fa-book"></i> Personal Dev
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Courses Area -->
<!--Start Feature Area -->
<section class="feature-area">
    <div class="container shrink">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>You want to know the benefits?</h1>
                    <p>
                        Learning codebase exploration can improve both academic and industry sectors.
                        A more natural, context based method of developing programming skills can drammatically improve the IT community.
                    </p>
                </div>
            </div>
        </div>
        <div class="feature-inner row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-crown"></i>
                    <h4 class="text-center">One Fast Learning Curve For Everyone</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p class="text-justify">
                            Get experience by learning to manage your tasks and time.

                            Respond to any requirements and search for solutions.
                            Understand that programming is not about learning languages or syntax.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-briefcase"></i>
                    <h4 class="text-center">Accelerate Your Career Development</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p class="text-justify">
                            Programming is about integrating into an environment,
                            appreciate documentation and improve reading skills. Appreciate task dificulty.
                            Learn programme structure and clarity. Gain experience with finished programmes and learn to embed your code.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-medall-alt"></i>
                    <h4 class="text-center">Improve Your Problem Solving Technique</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p class="text-justify">
                            See how other developers think and how they solve a particular problem or where they lack experience.
                            Observe ideas, styles, patterns and let your knowledge grow gradually. You can observe different thinking models.
                        </p>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-key"></i>
                    <h4>Lifetime Access</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-files"></i>
                    <h4>Source File Included</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                            Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-headphone-alt"></i>
                    <h4>Live Support</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>
                            Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                        </p>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</section>
<!-- End Feature Area -->
<!-- Start Faculty Area -->
<section class="faculty-area section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Faculty Members</h1>
                    <p>
                        If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for
                        as low as $.17 each.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="~/Content/Images/faculty/f1.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Ethel Davis</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="~/Content/Images/faculty/f2.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Rodney Cooper</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="~/Content/Images/faculty/f3.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Dora Walker</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="~/Content/Images/faculty/f4.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Lena Keller</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".7s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Faculty Area -->
<!-- Start Testimonials Area -->
<section class="testimonials-area section-gap">
    <div class="container">
        <div class="testi-slider owl-carousel" data-slider-id="1">
            <div class="item">
                <div class="testi-item">
                    <img src="~/Content/Images/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <img src="~/Content/Images/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <img src="~/Content/Images/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <img src="~/Content/Images/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="~/Content/Images/testimonial/t1.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="~/Content/Images/testimonial/t2.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="~/Content/Images/testimonial/t3.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="~/Content/Images/testimonial/t4.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials Area -->
<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
    <a title="Go to Top" href="#"></a>
</div>
<!-- ####################### End Scroll to Top Area ####################### -->
