@model EducationalPlatform.Models.Paragraph
@{
    Layout = null;
}


<form method="post" action="/Paragraph/New">
    @Html.HiddenFor(m => m.CodebaseId)
   
    <div class="mt-10">
        @Html.TextArea("Description", null, new { @class = "single-textarea", @placeholder = "Description" })
        @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger " })
    </div>
    <button class="btn search-btn" type="submit">Add Codebase</button>
</form>
