
@{
    ViewBag.Title = "Codebase Instructions";
}

<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Tasks Generation Instructions
                </h1>
                <p>
                    Improve learners skills starting from pre-build projects.
                </p>
                <div class="link-nav">
                    <span class="box">
                        <a href="@Url.Action("Index", "Home")"> Home </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="@Url.Action("New", "Codebase")">Tasks Generation Instructions</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket-img">
        <img src="~/Content/Images/rocket.png" alt="">
    </div>
</section>
<!-- End Banner Area -->

<section class="mt-100 mb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="codebase-category-wrapper col-lg-8 col-md-8 justify-content-center">
                <h3 class="mr-15">Instructors' Agenda </h3>
                <br>
                <div></div>
                <br>
                <ol>
                    <li> <b>Firstly, we need to make sure that you understand how to create the tasks. </b></li>

                    <li>1. This platform recommend to use a roleplay technique. You may change it, but we think that is important to simulate a real context as much as possible. </li>

                    <li>2. After a long research we discovered two learning models of understanding a codebase: top-down and bottom-up. </li>

                    <li>3. The steps of the top down approach are: </li>

                    <li>
                        4. This system represents a learning platform for picking up codebases. Setting as much support as it can for users.
                        Going one layer indepth the platform wants to create a learning environment for the codebases. This will offer support for the codebase, and knowledge needed.
                        And once again going deeper we find the learning model which implies different exercises for gathering codebase information.
                        This 3 layer system tries to obtain the best experience from different perspectives.
                    </li>
                    <li>
                        5. We always want the learners to know what is the general purpose and the result of each section.
                    </li>

                    <li>6. During the task creation you will find different sections and some explanations. Some information will be seen only by instructors. </li>

                    <li>
                        7. The sections are divided in two smaller categories: presentation/overeaching purpose and task generation.
                        Some sections will be only for communicating information, such that, they will include only the presentation.
                    </li>
                    <li>
                        8. In building the codebase tasks do not forget to have a verification technique for learners responses.
                        From a teaching perpective, the learners should always receive feedback on their work.
                    </li>
                </ol>

            </div>
        </div>
    </div>
</section>

<section class="mt-100 mb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-lg-8 col-md-8 justify-content-center">
                <div class="section-title text-center">
                    <h3><i class="fas fa-info-circle mr-10"></i>The next section is an introduction that welcome the learners and set the meaning of the learning techniques used for a proper codebase exploration.</h3>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-100 mb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="codebase-category-wrapper col-lg-8 col-md-8 justify-content-center">
                <div class="text-justify">
                    <h3 class="text-center">E1. Orientation </h3>
                    <br>
                    <h5 class="mb-10">Section Insights:</h5>
                    <p>
                        This section is a welcome paragraph that will explain the process of the codebase exploration and any side notes that will improve the experience. Also, the learning techniques: role play, bottom-up, top-down, and the layers of learning: environment and codebase models are explained here. This is the first contact with the idea of working on the codebase. It is not a contact with the code itself not even with the environment. It is an introduction on how things will go during the tutorial and the desired outcomes/goals. This can improve the learning model by explaining first hand how the information flow will take place.
                        Moreover, any teaching facts that the learner needs to be aware of will be included here. The idea that some of the steps are reusable and will bring benefits on a long run needs to be underlined by instructors.
                    </p>
                    <br />

                    <hr>
                    <h5>Topics Generation - Important topics to be considered:</h5>
                    <br />

                    <span class="codebase-topics font-weight-bold">Welcome and Roleplay Presentation</span>
                    <p class="mt-2">- make it interactive, write about the person responsible for the mentoring during the codebase exploration and his support.</p>
                    <br>

                    <span class="codebase-topics font-weight-bold">Learning Methods </span>
                    <p class="mt-2">
                        - explain the learning technique: bottom-up vs top-down, and its insights. Explain how the codebase will be tackled. <br>
                        - explain any Side Notes that you may use for more explanations  or other purpose, and where the learners can find them.
                        Overall, these sidenotes are meant to complete the learning technique.
                        In this paragraph you can mention any information that you will use to help the learners' experience.
                        It is recommended to use these for making the learners aware of the reusable roadmap.
                    </p>
                    <br>

                    <span class="codebase-topics font-weight-bold">Learning Objectives</span>
                    <p class="mt-2">
                        - make learners aware of the more generic reusable model (roadmap) and skills.
                        Overall, the lerners' purpose is to get the necessary experience and skills to faster and better understand new codebases.
                        The learning will happen at different levels: one for this particular codebase and one for any similar project.
                        The students will understand their goals from the start.
                    </p>
                    <br>

                    <span class="codebase-topics font-weight-bold">Learning Structure</span>
                    <p class="mt-2">
                        - clarify the idea of the knolewdge corpus and the structure of it. Embed the tasks into different layers.
                        A recommended explanation will be:
                    </p>
                    <p class="font-italic">
                        The learning model of this codebase is extended to a learning environment. The sections that will build your learning environment are marked with E and the ones that will build your learning model are marked with M.
                        What is the difference?
                        The learning environment set up all the tools and techniques needed in picking up the codebase.
                        The learning model is strictly designed to improve your knowledge over the project behaviour and functionalities.
                    </p>
                    <br>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-100 mb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-lg-8 col-md-8 justify-content-center">
                <div class="section-title text-center">
                    <h3>
                        <i class="fas fa-info-circle mr-10"></i>The next section is a prerequisite for the codebase, helping learners in gathering the minumum amount of knowledge needed for the codebase exploration.
                        This section can also be used as a learning resource.
                    </h3>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="codebase-category-wrapper col-lg-8 col-md-8 justify-content-center">
                <div class=" text-justify">
                    <h3 class="text-center"> E.2 Learning Resources</h3>
                    <br>
                    <h5 class="mb-10">Section Insights:</h5>
                    <p class="mt-2">The learners are advised to offer links to short tutorials or crash courses.</p>
                    <hr>

                    <h5>Topics Generation - Important Topics to be Considered:</h5>
                    <br />

                    <span class="codebase-topics font-weight-bold"> Section General Purpose </span>
                    <p class="mt-2">
                        - explain what is the purpose of this section and why is it important to be read. We always want the learners to know what is the result of each section.
                        Try to convince the learners that even is not part of the codebase it will improve their experience. Talk about the benefits and resources types. A recommended explanation will be:
                    </p>
                    <p class="font-italic">
                        This section will help you level your knowledge and prepare you for the codebase exploration.
                        We want all students to have at least the minimum amount of knowledge to explore the codebase.
                        Do you already know some of the things? That's great! You can skip this step but we highly recommend you to revise them.
                        Do not forget that working on this project already implies having some understanding of different programming areas.
                        You did not see these things before? No problem, you will be guided through each step.
                    </p>
                    <br>


                    <span class="codebase-topics font-weight-bold mb-10">Programming Langauge Conventions</span>
                    <p class="mt-2">
                        - talk about the most used conventions. This it will improve the understanding of code logic.
                    </p>
                    <p class="font-italic">
                    </p>
                    <br>

                    <span class="codebase-topics font-weight-bold">IDE Standards</span>
                    <p class="mt-2">
                        - find/offer short tutorial about the IDE. It will help navigate the project faster and seamless, not getting IDE rationale into the learner’s understanding process.
                    </p>
                    <p class="font-italic">
                    </p>
                    <br>

                    <span class="codebase-topics font-weight-bold">Best Practices and Design Patterns</span>
                    <p class="mt-2">
                        - most of these practices are present in every project. Learners can better make hypotheses by exploring some of these templates.
                    </p>
                    <p class="font-italic">

                    </p>
                    <br>

                    <span class="codebase-topics font-weight-bold">Project Structure: Documentation, .gitingore, licences</span>
                    <p class="mt-2">
                        - think of any generic information that will improve the learners visual understanding when exploring codebase's files. This is part of the conventional aspects and it will help learners recognise the pattern for a generic set of projects.
                    </p>
                    <p class="font-italic">
                        Side Note: For an arbitrary codebase you can build your own prerequisite. Take a look at the programming language, system and project environment, IDE if mentioned, programming style (OOP), best practices and project structure and architecture.
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-lg-8 col-md-8 justify-content-center">
                <h3 class="text-center">
                    <i class="fas fa-info-circle mr-10"></i>The next section will be an introduction to the project by presenting its features and development. Also the goals of the learners will be underlined here.
                </h3>
                <br>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="codebase-category-wrapper col-lg-8 col-md-8 justify-content-center">
                <div class=" text-justify">
                    <h3 class="text-center"> E.3 Project Overview</h3>
                    <br>
                    <h5 class="mb-10">Section Insights:</h5>
                    <p>The learners are advised to offer links to short tutorials or crash courses.</p>
                    <br>
                    <hr>


                    <br>
                    <h5>Topics Generation - Important Topics to be Considered:</h5>
                    <br />

                    <span class="codebase-topics font-weight-bold"> Description </span>
                    <p>
                        - describe what the application is about
                    </p>
                    <p class="font-italic">
                        What we are working on? We developed a game for children, a shooter more specific where the whole idea is to destroy the enemy aliens. Unfortunately, some bugs exist. Also, we want to expand the code to improve the users' experience.
                    </p>
                    <br>


                    <span class="codebase-topics font-weight-bold"> Project History </span>
                    <p>
                        - present a short history of the project mentioning the previous stages and the major changes. This will help students integrate into the environment.
                    </p>

                    <br>

                    <span class="codebase-topics font-weight-bold"> Current Stage and Goals </span>
                    <p>
                        - describe the current situation of the project, what are the needs and the problems. This will complete the history lesson given previously.
                    </p>
                    <p class="font-italic">
                        Unfortunately, some bugs exist. Moreover, we want to expand the code to improve the users' experience.
                    </p>
                    <br>

                    <span class="codebase-topics font-weight-bold">Learner's Role and Motivation</span>
                    <p>
                        - present the learners duties and give him the motivation: resolve bugs, add new feature or make code maintainance. A recommended explanation will be:
                    </p>
                    <p class="font-italic">
                        Why are you here? Because you want to contribute to our development and get some experience. What do we want?
                        We want you to understand the current codebase and respond to Trouble Report requirements as well as considering Expanding the Code.
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-lg-8 col-md-8 justify-content-center">
                <h3 class="text-center">
                    <i class="fas fa-info-circle mr-10"></i>The next section comprise the project working principles and culture.
                    It will create the context in which the "team of developers" are working and the desired environment.
                </h3>
                <br>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="codebase-category-wrapper col-lg-8 col-md-8 justify-content-center">
                <div class=" text-justify">
                    <h3> E.3 Project Management</h3>
                    <br>

                    <p>Some ideas that you can use:</p>
                    <br />

                    <span class="codebase-topics font-weight-bold"> General Purpose </span>
                    <p>
                        - describe what is the purpose of this section
                    </p>
                    <p class="font-italic">
                        First things first, I want to introduce you to our developing environment, our setup and what is recommended for you to use. Then I'll show you some project details and restrictions that will make you aware of the project architecture and team goals. This section will set up the context in which the project will grow.
                    </p>
                    <br>


                    <span class="codebase-topics font-weight-bold"> Explanations </span>
                    <p>
                        - describe any terminology and their importance
                    </p>
                    <p class="font-italic">
                        System-level and Project-level environments are very important when projects are developed in a team. These represent the digital world in which our application will grow. Usually, the project needs to use similar environments for not expecting any compatibility errors. Of course, this is not strictly but it is a highly desirable feature. Our team created and maintain the project by using the following structure:
                    </p>
                    <br>

                    <span class="codebase-topics font-weight-bold"> System and Project Environments </span>
                    <p>
                        - present the details for each
                    </p>
                    <p class="font-italic">
                        System Environment: Windows, Codebase Environment: Visual Studio, Version Control: Github, Time Limit: 2 hours, Sprints: 1
                    </p>
                    <br>

                    <span class="codebase-topics font-weight-bold">Codebase Implementation Details</span>
                    <p>
                        - present the details
                    </p>
                    <p class="font-italic">
                        Why are you here? Because you want to contribute to our development and get some experience. What do we want?
                        We want you to understand the current codebase and respond to Trouble Report requirements as well as considering Expanding the Code.
                    </p>
                    <br>

                    <span class="codebase-topics font-weight-bold">Codebase Development Constraints</span>
                    <p>
                        - mention the time limit and any other constraints
                    </p>
                    <p class="font-italic">
                        Why are you here? Because you want to contribute to our development and get some experience. What do we want?
                        We want you to understand the current codebase and respond to Trouble Report requirements as well as considering Expanding the Code.
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-lg-8 col-md-8 justify-content-center">
                <h3 class="text-center">
                    <i class="fas fa-info-circle mr-10"></i>In the next section the learning model starts with the codebase interaction.
                    The purpose is to make the project setup by skimming the documentation and codebase's structure.
                </h3>
                <br>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="codebase-category-wrapper col-lg-8 col-md-8 justify-content-center">
                <div class=" text-justify">
                    <h3 class="text-center"> M.1 Setup Process</h3>
                    <br>

                    <br />
                    <h5>Topics Generation</h5> <br>

                    <span class="codebase-topics font-weight-bold"> Section General Purpose  </span>
                    <p>
                        - describe what is the purpose of this section
                    </p>
                    <p class="font-italic">
                        In this stage, we want to find an entry path for exploring the codebase.
                        We want to see what is the result of the codebase source files. So what we really want is to see the code running.
                        Documentation is the best option that offers us some insights on setting up the application.
                        Because we do not want to go too deep into either documentation or code files, for now, we will make some hypothesis.
                        It will imply mapping documentation with the files. Why are we doing this?
                        Finally, this will help us with the next step, to find the features of the interface and the behaviour of the app from a simpler method than reading code.
                        Ready to use your knowledge?!?
                    </p>
                    <br>


                    <span class="codebase-topics font-weight-bold"> Disclaimer of the process so far </span>
                    <p>
                        - describe any terminology and their importance
                    </p>
                    <p class="font-italic">
                        This is actually the first stage where we start working with the codebase. Just to know, I wanted to prepare you before being here and offer you the best environment for further development.
                    </p>
                    <br>

                    <br />
                    <hr>
                    <h5>Tasks Generation (Learning Model Steps)</h5> <br>


                    <span class="codebase-topics font-weight-bold"> 1. Skim the documentation  </span>
                    <p>
                        - describe what is the purpose of this section
                    </p>
                    <p class="font-italic">
                        First things first, I want to introduce you to our developing environment, our setup and what is recommended for you to use. Then I'll show you some project details and restrictions that will make you aware of the project architecture and team goals. This section will set up the context in which the project will grow.
                    </p>
                    <br>


                    <span class="codebase-topics font-weight-bold"> 2. Skim through the files and figure out how to setup & run it </span>
                    <p>
                        - describe any terminology and their importance
                    </p>
                    <p class="font-italic">
                        System-level and Project-level environments are very important when projects are developed in a team. These represent the digital world in which our application will grow. Usually, the project needs to use similar environments for not expecting any compatibility errors. Of course, this is not strictly but it is a highly desirable feature. Our team created and maintain the project by using the following structure:
                    </p>
                    <br>

                    <span class="codebase-topics font-weight-bold"> 3. Make the project setup (install dependencies/requirements) and run it without errors  </span>
                    <p>
                        - present the details for each
                    </p>
                    <p class="font-italic">
                        System Environment: Windows, Codebase Environment: Visual Studio, Version Control: Github, Time Limit: 2 hours, Sprints: 1
                    </p>
                    <br>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="codebase-category-wrapper col-lg-8 col-md-8 justify-content-center">
                <div class=" text-justify">
                    <h3 class="text-center"> M2. User Perspective and Documentation</h3>
                    <br>

                    <br />
                    <h5>Topics Generation</h5> <br>

                    <span class="codebase-topics font-weight-bold"> Section General Purpose  </span>
                    <p>
                        - describe what is the purpose of this section
                    </p>
                    <p class="font-italic">
                        In this stage, we want to find an entry path for exploring the codebase.
                        We want to see what is the result of the codebase source files. So what we really want is to see the code running.
                        Documentation is the best option that offers us some insights on setting up the application.
                        Because we do not want to go too deep into either documentation or code files, for now, we will make some hypothesis.
                        It will imply mapping documentation with the files. Why are we doing this?
                        Finally, this will help us with the next step, to find the features of the interface and the behaviour of the app from a simpler method than reading code.
                        Ready to use your knowledge?!?
                    </p>
                    <br>


                    <span class="codebase-topics font-weight-bold"> Disclaimer of the process so far </span>
                    <p>
                        - describe any terminology and their importance
                    </p>
                    <p class="font-italic">
                        This is actually the first stage where we start working with the codebase. Just to know, I wanted to prepare you before being here and offer you the best environment for further development.
                    </p>
                    <br>

                    <br />
                    <hr>
                    <h5>Tasks Generation (Learning Model Steps)</h5> <br>
                    <span class="codebase-topics font-weight-bold"> 1. Explore the interface  </span>
                    <p>
                        - describe what is the purpose of this section
                    </p>
                    <p class="font-italic">
                        First things first, I want to introduce you to our developing environment, our setup and what is recommended for you to use. Then I'll show you some project details and restrictions that will make you aware of the project architecture and team goals. This section will set up the context in which the project will grow.
                    </p>
                    <br>


                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="codebase-category-wrapper col-lg-8 col-md-8 justify-content-center">
                <div class=" text-justify">
                    <h3 class="text-center"> M3. File Organisation</h3>
                    <br>

                    <br />
                    <h5>Topics Generation</h5> <br>

                    <span class="codebase-topics font-weight-bold"> Section General Purpose  </span>
                    <p>
                        - describe what is the purpose of this section
                    </p>
                    <p class="font-italic">
                        In this stage, we want to find an entry path for exploring the codebase.
                        We want to see what is the result of the codebase source files. So what we really want is to see the code running.
                        Documentation is the best option that offers us some insights on setting up the application.
                        Because we do not want to go too deep into either documentation or code files, for now, we will make some hypothesis.
                        It will imply mapping documentation with the files. Why are we doing this?
                        Finally, this will help us with the next step, to find the features of the interface and the behaviour of the app from a simpler method than reading code.
                        Ready to use your knowledge?!?
                    </p>
                    <br>


                    <span class="codebase-topics font-weight-bold"> Disclaimer of the process so far </span>
                    <p>
                        - describe any terminology and their importance
                    </p>
                    <p class="font-italic">
                        This is actually the first stage where we start working with the codebase. Just to know, I wanted to prepare you before being here and offer you the best environment for further development.
                    </p>
                    <br>

                    <br />
                    <hr>
                    <h5>Tasks Generation (Learning Model Steps)</h5> <br>


                    <span class="codebase-topics font-weight-bold"> 1. Take a look at the organisation of the files and match each with what you saw in the interface  </span>
                    <p>
                        - describe what is the purpose of this section
                    </p>
                    <p class="font-italic">
                        First things first, I want to introduce you to our developing environment, our setup and what is recommended for you to use. Then I'll show you some project details and restrictions that will make you aware of the project architecture and team goals. This section will set up the context in which the project will grow.
                    </p>
                    <br>


                    <span class="codebase-topics font-weight-bold"> 2. Try to figure out in one line description for each file </span>
                    <p>
                        - describe any terminology and their importance
                    </p>
                    <p class="font-italic">
                        System-level and Project-level environments are very important when projects are developed in a team. These represent the digital world in which our application will grow. Usually, the project needs to use similar environments for not expecting any compatibility errors. Of course, this is not strictly but it is a highly desirable feature. Our team created and maintain the project by using the following structure:
                    </p>
                    <br>

                    <span class="codebase-topics font-weight-bold"> 3. Find the file that handles the game behaviour  </span>
                    <p>
                        - present the details for each
                    </p>
                    <p class="font-italic">
                        System Environment: Windows, Codebase Environment: Visual Studio, Version Control: Github, Time Limit: 2 hours, Sprints: 1
                    </p>
                    <br>

                </div>
            </div>
        </div>
    </div>
</section>
